* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myFont;
    src:  url(Minecraft.ttf);
}

body {
    overflow: scroll;
}

#backg {
    position: fixed;
    height: 100vh;
    z-index: -1;
}

#backg img {
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    height: 100px;
}

heading img {
    margin: auto 0;
}

#labelHam {
    display: flex;
    align-items: center;
    height: 100px;
}

#labelHam img {
    height: 60px;
}

#hamburger{
    display: none;
}

#navul li a {
    text-decoration: none;
    color: black;
    font-family: myFont;
    font-size: 2em;
}

#navul li a:hover {
    color: rgb(2, 2, 177);
    font-weight: 700;
}

#pages, #chkpg {
   display: none;
}

#navul {
    display: none; 
}

#navul li {
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
    height: 35px;
}

#hamburger:checked ~ #navul {
    position: absolute;
    list-style-type: none;
    top: 80px;
    right: -5vw;       
    animation: hamburChecked 0.7s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 20vw;
    height: 100vh;
    background-color: #587e4b;
    border-top: 1px solid black;
 }

 @keyframes hamburChecked {
     0% {right: -30vw;}
     100% {right: -5vw;}
 }
 
 #chkpg:checked ~ #pages {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 20vw;
    left: 0vw;
    background-color: #6d9660;
    animation: pagesAnime 0.7s ease-in-out;
    top: 69px;;
    bottom: 0px;
}

@keyframes pagesAnime {
    0% {left: 20vw}
    100% {left: 0vw}
}

#pages a {
    border-bottom: 1px solid black;
    padding-left: 1vw;
}

form {
    position: absolute;
    top: 20px;
    right: 5vw;
}


main {
    margin: 0 auto;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#row1, #row2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

#row2 {
    margin-top: 0px;
}

.card {
    height: 250px;
    max-width: 200px;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 30px black;
    transition: transform 0.7s;
}

#first {
    background-color: #826143;
}

#second {
    background-color: #962119;
}

#third {
    background-color: #7a7602;
}

#forth {
    background-color: #085c00;
}

#fifth {
    background-color: #006475;
}

#sixth {
    background-color: #1b0094;
}

#seventh {
    background-color: #500075;
}

#eighth {
    background-color: #750048;
}

.card:hover {
    transform: scale(1.3);
}

.card h4 {
    font-family: myFont;
    font-size: 2.2em;
    text-align: center;
    color: #DAD4D4;
    margin-top: 15px;
}

.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {

    heading {
        position: fixed;
        margin-top: 0px;
        top: 0px;
        height: 70px;
        margin-bottom: 0;
        z-index: 10;
        background-color: #587e4b;
    }

    heading img {
        position: absolute;
        height: 40px;
        width: unset;
        left: 5vw;
    }

    form {
        top: 0px;
        z-index: 10;
    }

    #labelHam {
        position: fixed;
        top: 0px;
        right: 5vw;
        height: 70px;
    }

    #labelHam img {
        height: 40px;
    }

    main {
        position: relative;
        top: 10vh;
        width: 550px;
        margin-bottom: 20vh;
    }
}

@media screen and (max-width: 650px) {

    heading img {
        height: 40px;
    }

    #labelHam {
        position: fixed;
        top: 0px;
        right: 5vw;
        height: 70px;
    }

    #labelHam img {
        height: 40px;
    }

    main {
        width: unset;
        margin: 0 10vw;
        margin-bottom: 20vh;
    }

    .card {
        height: 50vw;
        width: 35vw;
        margin-top: 6vh;
    }

    .card h4 {
        font-size: 6vw;
    }

    #hamburger:checked ~ #navul {
        width: 40vw;
    }

    #chkpg:checked ~ #pages {
        width: 40vw;
    }

}